

<div class="header">
    <span class="vcenter">Kokori</span>
</div>

<div class="main">
    <div class="menu">
        <a href="news.rss"><img src="images/rss.png" alt="RSS" /></a>
        <span onmousedown="loadContent('news')">News</span>
        <span onmousedown="loadContent('about')">About</span>
        <span onmousedown="loadContent('discography')">Discography</span>
        <span onmousedown="loadContent('events')">Events</span>
        <span onmousedown="loadContent('shop')">Shop</span>
        <span onmousedown="loadContent('contact')">Contact</span>
    </div>
    <div class="container" id="maincontent"></div>
</div>
<div class="sidebar" id="sidebar"></div>

<div class="footer">
  Kokori - Post-Cyberpunk Industrial - <a class="findme" href="https://github.com/marado/kokori">01100011 01101111 01100100 01100101</a>
</div>
