<ul class="items">
    {{#each items}}
        <li>{{this.pubDate}} <a onclick="loadContent('news/{{this.permalink}}')">{{this.title}}</a></li>
    {{else}}
        <p>No Items</p>
    {{/each}}
</ul>
